<md-toolbar color="primary">
  <ul>
    <li>
      <a routerLink="home" routerLinkActive="active">HOME</a>
    </li>
    <li>
      <a routerLink="secret" routerLinkActive="active">SECRET</a>
    </li>
  </ul>
  <span class="example-fill-remaining-space"></span>
  <span>      
    <md-slide-toggle (change)="changeState()" [checked]="state">
      <div *ngIf="state; then logged else notLogged"></div>
      <ng-template #logged>
        Logged in
      </ng-template>
      <ng-template #notLogged>
        Not logged
      </ng-template>
    </md-slide-toggle>
  </span>
</md-toolbar>
<section>
  <router-outlet></router-outlet>
</section>

